<div class="organization-container" >
  <h1>Welcome to San Francisco sports academy</h1>
  <h3>Your sports teams</h3>
  <table>
    <% @teams.each do |team|%>
      <tr>
        <td class="sport-name-property">
          <%= image_tag("#{team.sport_name}.png", class: "sport-image")%>
          <%= link_to team.sport_name, "/team/#{team.id}"%>
        </td>
      </tr>
    <% end %>
  </table>
  <h3>Your favourite players</h3>
  <table>
    <% @members.each do |member|%>
      <tr>
        <td class="member-name"><%= link_to member.first_name, "/member/#{member.id}" %></td>
      </tr>
    <% end %>
  </table>
</div>