<div class="organization-container" >
  <h1>Welcome to San Francisco sports academy</h1>
  <div class="row">
    <div class="col-md-6">
      <h3 class="match-played-head">Total number of matches played in last 12 months</h3>
      <%= column_chart @member_team_aggs.group(:team_name).sum(:no_of_matches_played) %>
    </div>
    <h3 class="sports-padding">Your sports teams</h3>
    <% @teams.each do |team|%>
      <div class="org-sport-container">
        <div class="col-md-3">
          <%= image_tag("#{team.sport_name}.png", class: "sport-image")%>
          <%= link_to team.sport_name, "/team/#{team.id}"%>
        </div>
      </div>
    <% end %>
  </div>
  <h3>Your favourite players</h3>
  <% @members.each do |member|%>
    <li class="member-name"><%= link_to member.first_name, "/member/#{member.id}" %></li>
  <% end %>
</div>