<h1>Welcome to <%=@sport.sport_name%></h1>
<h3>Please get to know interested people</h3>
<table>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <% @sport.members.each do |member|%>
        <tr>
          <td><%= member.id %></td>
          <td><%= link_to member.first_name,"/profile/#{member.id}" %></td>
        </tr>
      <% end %>
</table>