html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
// Footer styling
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #333;
  color: white;
}
.footer-container{
  padding-top:20px;
}
.text-muted{
  text-align: center;
}

// NAVBAR styling
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.profile-container {
  padding-bottom: 200px;
  padding-top:50px;
  padding-left:50px;
}
.row{
  padding-bottom:20px;
}

.sport-name{
  // text-align: center;
  padding-top: 20px;
  text-transform: capitalize;
  font-size: 20px;
}
.profile-name{
//   text-align: center;
}
.sport-image{
  content: icon;
  border: 1px solid black;
  width:30px;
  height:30px;
}
.sport-name-property {
  padding-bottom: 10px;
  padding-left: 30px;
}
.sport-head{
  padding-left: 30px;
}
.member-name {
  padding-left: 30px;  
}
.organization-container{
  padding-bottom: 150px;
  padding-top:50px;
  padding-left:50px;
}

///////////Profile show page - Consumer facing ////////////////////
.profile-name{
  text-align: center;
  padding-top: 30px;
  color: black;
}
.profile-show-container{
  padding-left: 50px;
  padding-right:50px;
  padding-bottom: 200px;
}
.name-container{
  // background-color: #3B5998;
  height: 100px;
  padding-bottom: 50px;
}
.start-column{
  padding-left: 50px;
}
//////////////////////////////////////////////////////////////////
// Sports show page
.sport-show-container {
  padding-left: 50px;
  padding-bottom: 200px;
  padding-top: 20px;
}
.chart-container {
  align: center;
  padding-bottom: 20px;
}
.sport-head{
  padding-bottom: 20px;
  text-align: center;
}
.know-player-container{
  padding-bottom: 30px;
  text-align: justify;
}
.org-sport-container {
  padding-bottom: 20px;
}
.sport-detail-container{
  padding-bottom: 20px;
  padding-top: 10px;
}
.chart-head {
  padding-left: 80px;
}
.sports-padding {
  padding-top: 20px;
  padding-bottom: 60px;
}